* {
  font-family: "League Spartan", sans-serif !important;
}

body {
  display: flex;
  background: #3a4663;
  padding: 96px 450px;
  justify-content: center;
  align-items: center;
}
.top_section {
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 340px;
  align-items: center;
  text-align: center;
  margin-bottom: 31px;
}

#h3_calc {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.533px;
}
.THEME_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.THEME_div h4 {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.THEME_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.THEME_filter output {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  margin-bottom: 50px;
  gap: 21px;
  display: flex;
}

.THEME_filter input {
  padding: 0 5px 0 5px;

  width: 71px;
  height: 26px;
  border-radius: 13px;
  background: #242d44;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  z-index: 1 !important;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: url("design/Oval.svg") no-repeat center center;
  cursor: pointer;
  padding: 0 5px 0 5px;
}

.middle_section {
  width: 540px;
  height: 128px;
  border-radius: 10px;
  background: #181f33;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_h2 {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.933px;
  padding: 40px 32px 36px 470px;
}

.bottom_section {
  width: 540px;
  height: 480px;
  border-radius: 10px;
  background: #242d44;
  margin-top: 24px;
}
.main_buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding: 32px;
  place-items: center;
}
.main_buttons button {
  width: 101px;
  height: 64px;
  border-radius: 10px;
  background: #eae3dc;
  box-shadow: 0px -4px 0px 0px #b3a497 inset;
  color: #434a59;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.667px;
  cursor: pointer;
}
#blue_button {
  border-radius: 10px;
  background: #647198;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.467px;
}

.twolast_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.twolast_buttons button {
  cursor: pointer;
}

#blue_button2 {
  width: 227px;
  height: 64px;
  border-radius: 10px;
  background: #647198;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.467px;
  font-family: "League Spartan", sans-serif;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
}
#red_button {
  width: 227px;
  height: 64px;
  border-radius: 10px;
  background: #d03f2f;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.467px;
  box-shadow: 0px -4px 0px 0px #93261a inset;
  font-family: "League Spartan", sans-serif;
}

#blue_button:hover,
#blue_button2:hover {
  background: #a2b2e1;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f96b5b;
  border-radius: 50%;
}
#red_button:hover {
  background: #f96b5b;
}
.main_buttons button:hover {
  background: #fffffe;
}

.level1 {
  background-color: rgb(230, 230, 230);
}

.level1 .middle_section {
  background-color: rgb(238, 238, 238);
}

.level1 .bottom_section {
  background-color: rgba(210, 205, 205, 1);
}

.level1 .THEME_div h4,
.level1 .THEME_filter output p,
.level1 #h3_calc,
.level1 #main_h2 {
  color: rgba(54, 54, 44, 1);
}

.level1 #myRange {
  background: rgba(210, 205, 205, 1);
}

.level1 .main_buttons button {
  color: rgba(54, 54, 44, 1);
  background: #e5e4e1;
  box-shadow: 0px -4px 0px 0px #a79e91 inset;
}

.level1 #blue_button,
.level1 #blue_button2 {
  background: #378187;
  box-shadow: 0px -4px 0px 0px #1b6066 inset;
}
.level1 #red_button {
  background: #c85402;
  box-shadow: 0px -4px 0px 0px #873901 inset;
}
.level1 #blue_button:hover {
  background: #62b5bc;
}
.level1 #blue_button2:hover {
  background: #62b5bc;
}

.level1 [type="range"]::-webkit-slider-thumb:hover {
  background: #ff8a38;
  border-radius: 50%;
}
.level1 #red_button:hover {
  background: #ff8a38;
}
.level1 .main_buttons button:hover {
  background: #fff;
}

.level2 {
  background: #17062a;
}

.level2 .middle_section {
  background: #1e0936;
}

.level2 .bottom_section {
  background: #1e0936;
}

.level2 .THEME_div h4,
.level2 .THEME_filter output p,
.level2 #h3_calc,
.level2 #main_h2,
.level2 .main_buttons button {
  color: #ffe53d;
}
.level2 .main_buttons button {
  background: #331c4d;
  box-shadow: 0px -4px 0px 0px #881c9e inset;
}

.level2 #blue_button,
.level2 #blue_button2 {
  background: #56077c;
  box-shadow: 0px -4px 0px 0px #be15f4 inset;
}
.level2 #red_button {
  color: #1a2327;
  background: #00ded0;
  box-shadow: 0px -4px 0px 0px #6cf9f1 inset;
}
.level2 [type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  background: #00ded0;
}

.level2 #blue_button:hover {
  background: #8631af;
  box-shadow: 0px -4px 0px 0px #be15f4 inset;
}
.level2 #blue_button2:hover {
  background: #8631af;
  box-shadow: 0px -4px 0px 0px #be15f4 inset;
}

.level2 #red_button:hover {
  background: #93fff8;
}
.level2 .main_buttons button:hover {
  background: #6c34ac;
  box-shadow: 0px -4px 0px 0px #881c9e inset;
}

.level2 [type="range"]::-webkit-slider-thumb:hover {
  background: #93fff8;
  /* border-radius: 50%; */
}

/* FIXME:RESET button hover needs to be fixed and classname logic should me checked again! */
